<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Html Practice</title>
    </head>

    <body>
        <h1>This is header h1</h1>
        <p>Hello Html!</p>
        <ul>
            <li>This is unorganized list</li>
            <li>Seems to work just fine!</li>
        </ul>
        <h2>This is header h2</h2>
        <table>
            <tr>
                <td>Hello1</td>
                <td>This is td element</td>
            </tr>
            <tr>
                <td>Hello2</td>
                <td>Td element is child of tr element</td>
            </tr>
            <tr>
                <td>Hello3</td>
                <td>Tr element is child of table element</td>
            </tr>
        </table>
    </body>
</html>
